.Header, .Heading{
    font-size: 40px;
    justify-content: center;
    align-content: center;
    display: flex;
}
.details{
    font-size: 25px;
    justify-content: center;
    align-content: center;
    display: flex;
}
